<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kanji Lookup Tool</title>
</head>
<body>

<h1>Kanji Info Lookup Tool</h1>

<form id="kanji-form">
    <div class="input-group">
        <label for="kanji">Kanji:</label>
        <input id="kanji" name="kanji" type="text"/>
    </div>
    <button type="submit">Search</button>
</form>

<h2>Info:</h2>
<pre id="response"></pre>

<h2>_____________________________________________________</h2>

<h1>Efficiency Score Calculator</h1>

<form id="kanji-efficiency">
    <div class="input-group">
        <label for="efficiency">Kanji:</label>
        <input id="efficiency" name="kanji" type="text"/>
    </div>
    <button type="submit">Calculate</button>
</form>

<h2>Score:</h2>
<pre id="score"></pre>

</body>

<script>
    async function handleSubmit(event) {
        event.preventDefault();

        const data = new FormData(event.target);
        const value = Object.fromEntries(data.entries());
        console.log({value});

        const response = await fetch('/app/kanji', {
            method: 'POST',
            body: JSON.stringify(value),
            headers: {
                'Content-Type': 'application/json',
            }
        });
        const myJson = await response.json();
        console.log(myJson);
        document.getElementById('response').textContent = myJson;
    }
    const form = document.getElementById("kanji-form");
    form.addEventListener(
        "submit",
        async (e) => handleSubmit(e),
        false
    );

    async function handleEfficiencySubmit(event) {
        event.preventDefault();

        const data = new FormData(event.target);
        const value = Object.fromEntries(data.entries());
        console.log({value});

        const response = await fetch('/app/efficiency', {
            method: 'POST',
            body: JSON.stringify(value),
            headers: {
                'Content-Type': 'application/json',
            }
        });
        const myJson = await response.json();
        console.log(myJson);
        document.getElementById('score').textContent = myJson;
    }
    const efficiencyForm = document.getElementById("kanji-efficiency");
    efficiencyForm.addEventListener(
        "submit",
        async (e) => handleEfficiencySubmit(e),
        false
    );

</script>

</html>
